Checks: '
bugprone*,
-bugprone-misplaced-widening-cast,
-bugprone-multi-level-implicit-pointer-conversion,
-bugprone-branch-clone,
-clang-analyzer-unix.StdCLibraryFunctions,
-clang-analyzer-optin.performance.Padding,
# readability*,
llvm-include-order,
misc-no-recursion,
# misc-unused-parameters,
-readability-identifier-length,
-readability-magic-numbers,
-bugprone-easily-swappable-parameters,
'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'


