Checks: '
# bugprone*,
bugprone-narrowing-conversions,
bugprone-implicit-widening-of-multiplication-result,
# readability*,
-clang-analyzer-optin.core.EnumCastOutOfRange,
llvm-include-order,
misc-no-recursion,
# misc-unused-parameters,
-readability-identifier-length,
-readability-magic-numbers,
-bugprone-easily-swappable-parameters,
'
WarningsAsErrors: '*'
