[submodule "3rdparty/mbedtls/mbedtls"]
	path = 3rdparty/mbedtls/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
[submodule "3rdparty/tinycbor/tinycbor"]
	path = 3rdparty/tinycbor/tinycbor
	url = https://github.com/intel/tinycbor
[submodule "3rdparty/libevent/libevent"]
	path = 3rdparty/libevent/libevent
	url = https://github.com/libevent/libevent
[submodule "nabto-common-c"]
	path = nabto-common-c
	url = git@github.com:nabto/nabto-common-c
